.App {
  text-align: center;
}

.header-container{
  height: 60px;
}
.content{
  display: flex;
  height: 100%;
  width: 100%;
}
.content > *{
  flex:1 50%;
}
.react-logo{
  height: 90px;
}
.main-app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}